.workCard {
  grid-column: span 1;
  margin-top: 50px;
  padding: 0 20px;
}

.workCard--head {
  display: flex;
  justify-content: space-between;
}

.workCard--head h3 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15.6px */
  text-transform: uppercase;
}

.workCard--line {
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  margin: 24px auto;
  transform-origin: center;
}

.workCard--body {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -20px 80px -20px #ffffff1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 16 / 9;
  max-height: 56.25vw;
}

.workCard--description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: #fff;
  z-index: 1;
  gap: 0.25rem;
}


.workCard--body:hover .work--img {
  transform: scale(1.07);
  filter: blur(5px);
}

.workCard--body .workCard--description {
  transition: 300ms ease-in-out;
}

.workCard--body:hover .workCard--description {
  transform: translateY(-65px);
}

.workCard--body .workCard--links {
  transition: 300ms ease-in-out;
}

.workCard--body:hover .workCard--links {
  transform: translateY(0)
}

.workCard--body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, #000 100%);
  mask-image: linear-gradient(to top, transparent 5%, #000 100%);
}

.workCard--title {
  font-size: 20px;
  color: #fff;
}

.workCard--title > span {
  display: block;
}

.workCard--subtitle-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 0.25rem;
}

.workCard--subtitle-tech-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #27272a;
  padding: 6px 8px;
  background-color: rgb(17 17 17);
  border-radius: 10px;
  color: #fff;
}

.workCard--subtitle-icon img {
  height: 1.5rem;
  margin-right: 0.5rem;
  background-color: rgb(17 17 17);
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.workCard--subtitle {
  position: relative;
  color: #d4d4d4;
}

.workCard--para {
  color: #a3a3a3;
}


.workCard--links {
  display: flex;
  margin-top: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(65px);
  padding: 1rem;
}

.react-icon {
  transition: all 300ms;
  transition-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  text-decoration: none;
  font-size: 16px;
  height: auto;
  width: 100%;
  color: rgb(17 17 17);
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-right: 12px;
}

.react-icon:hover {
  background-color: #fff;
  opacity: 0.8;
}

.react-icon:active {
  transform: scale(0.8);
}

.react-icon--title {
  font-size: 14px;
}

/* .workCard--body p {
  position: absolute;
  right: 0px;
  bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-family: var(--NML);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  opacity: 0.6;
  mix-blend-mode: hard-light;
  max-width: 36ch;
}


.workCard--body h1 {
  position: absolute;
  top: 80px;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -1.92px;
  text-transform: uppercase;
  mix-blend-mode: difference;
  max-width: 20ch;
}  */

.workCard--body img {
  width: auto;
  object-fit: contain;
  transition: all 600ms ease;
}

@media (max-width: 1500px) {
  .workCard--body h1 {
    font-size: 36px;
  }
  .workCard--body p {
    font-size: 15px;
  }
  .workCard--body img {
    height: auto;
    width: 100%;
  }

  .workCard--subtitle-icon img {
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    position: static;
  }

  .workCard--description {
    left: 40px;
  }
}

@media (max-width: 700px) {
  .workCard--body img {
    height: auto;
    width: 100%;
  }

  .workCard--subtitle-icon img {
    display: none;
  }
  
  .workCard--subtitle-wrapper {
    gap: 0.5rem;
  }

  .workCard--subtitle {
    font-size: 14px;
  }

  .workCard--body h1 {
    top: 20px;
    font-size: 32px;
  }

  .workCard--body p {
    font-size: 14px;
  }

  .workCard--para {
    display: none;
  }

  .workCard--description {
    left: 20px;
  }



  .workCard {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .workCard--body img {
    width: 100%;
    min-width: 400px;
  }
  .workCard--subtitle-icon img {
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    position: static;
  }
}

@media (min-width: 1600px) {
  .workCard--body img {
    width: 100%;
    height: auto;
  }

  .workCard--subtitle-icon img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
